

.menu{
  text-align: center;
  margin-top: 30px;
}

.menu button{
  padding: 20px;
  margin: 10px;
  background-color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .15s ease-in-out;
  color:#000;
}

.note{
  flex-shrink: 0;
  background-color: #ffc;
  color: #000;
  padding: 20px;
  margin: 20px;
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 7px #333;
  overflow: hidden;
  transition: transform 0.15s ease-in-out;
}

.titles{
  font-size: 30px;
  margin-bottom: 20px;
}

.task{
  font-size: 20px;
}

.note:hover{
  transform: scale(1.15);
}


#main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}